/.idea/.idea.desarrolloweb-proyecto-exoneracion/.idea/workspace.xml
/.vs/desarrolloweb-proyecto-exoneracion
/.vs/CopilotSnapshots/AD0072F453F5CB4AAE0746E9D45C1B0F
/.vs
.idea/.idea.desarrolloweb-proyecto-exoneracion/.idea/AndroidProjectSystem.xml
.idea/.idea.desarrolloweb-proyecto-exoneracion/.idea/indexLayout.xml
.idea/.idea.desarrolloweb-proyecto-exoneracion/.idea/projectSettingsUpdater.xml
.idea/.idea.desarrolloweb-proyecto-exoneracion/.idea/vcs.xml
.idea/.idea.desarrolloweb-proyecto-exoneracion/.idea/httpRequests/2025-08-29T180852.200.vnd.openxmlformats-officedocument.spreadsheet
.idea/.idea.desarrolloweb-proyecto-exoneracion/.idea/httpRequests/http-client.cookies
.idea/.idea.desarrolloweb-proyecto-exoneracion/.idea/httpRequests/http-requests-log.http
src/API/Assets/.~lock.FormularioAguaRegistro.xlsx#
